 <!-- #section:basics/navbar.user_menu -->
<li class="light-blue">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="~/content/images/avatars/admin-avatar.jpg" alt="User's Photo" />
        <span class="user-info">
            <small>Members</small>
            Login
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="@Url.Action("register", "account")">
                <i class="ace-icon fa fa-user"></i>
                Register
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="@Url.Action("login", "account")">
                <i class="ace-icon fa fa-sign-in"></i>
                Login
            </a>
        </li>
    </ul>
</li>

<!-- /section:basics/navbar.user_menu -->