<!-- #section:custom/widget-box.options -->
<div class="widget-header">

    <h5 class="widget-title bigger lighter">
        <i class="ace-icon fa fa-table" style="cursor:move"></i>
        <span id="widget-title" class="editable editable-click"><%= Title %></span>
    </h5>

    <div class="widget-toolbar no-border">

        <a id="save-widget" href="#">
            <i class="ace-icon fa fa-check green"></i>
        </a>

        <a id="remove-widget" href="#">
            <i class="ace-icon fa fa-times orange"></i>
        </a>

        <select id="simple-colorpicker-1" class="hide">
            <option selected="" data-class="blue" value="#307ECC">#307ECC</option>
            <option data-class="blue2" value="#5090C1">#5090C1</option>
            <option data-class="blue3" value="#6379AA">#6379AA</option>
            <option data-class="green" value="#82AF6F">#82AF6F</option>
            <option data-class="green2" value="#2E8965">#2E8965</option>
            <option data-class="green3" value="#5FBC47">#5FBC47</option>
            <option data-class="red" value="#E2755F">#E2755F</option>
            <option data-class="red2" value="#E04141">#E04141</option>
            <option data-class="red3" value="#D15B47">#D15B47</option>
            <option data-class="orange" value="#FFC657">#FFC657</option>
            <option data-class="purple" value="#7E6EB0">#7E6EB0</option>
            <option data-class="pink" value="#CE6F9E">#CE6F9E</option>
            <option data-class="dark" value="#404040">#404040</option>
            <option data-class="grey" value="#848484">#848484</option>
            <option data-class="default" value="#EEE">#EEE</option>
        </select>
    </div>
</div>

<!-- /section:custom/widget-box.options -->
<div class="widget-body" style="height:100%">
    <div class="widget-main no-padding">
        <!-- WIDGET CONTENTS -->
    </div>
</div>
