<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- CONFIG SECTIONS -->
  <configSections>
    <section name="cache-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business" />
    <section name="portal-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business" />
    <section name="navigation-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business" />
  </configSections>

  <!-- CUSTOM PROVIDERS-->
  <cache-providers default="WebCacheProvider">
    <providers>
      <add name="WebCacheProvider" type="Lightweight.Business.Providers.Caching.WebCacheProvider, Lightweight.Business" />
    </providers>
  </cache-providers>

  <portal-providers default="MultiTenantPortalProvider">
    <providers>
      <add name="MultiTenantPortalProvider" type="Lightweight.Business.Providers.Portal.MultiTenantPortalProvider, Lightweight.Business" caching="false" applicationName="localhost" />
    </providers>
  </portal-providers>

  <navigation-providers default="DefaultNavigationProvider">
    <providers>
      <add name="DefaultNavigationProvider" type="Lightweight.Business.Providers.Navigation.DatabaseNavigationProvider, Lightweight.Business" />
    </providers>
  </navigation-providers>
  <!-- END CUSTOM PROVIDERS-->
  
  <!-- CONNECTION STRINGS -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=lightweight; Integrated Security = SSPI;" />
  </connectionStrings>

  <!-- SYSTEM.WEB SETTINGS -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <!-- AUTHENTICATION: FORMS -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <!-- MEMBERSHIP PROVIDERS -->
    <machineKey validationKey="479D6995F64C6F15DA4D1E7D2D376C8A63C737BF2E51619E38038BB8ABB98D4C36898E008BDFAC3899BF51F36F9FEE92D1A318570493CE6D0150AC499C312F9A" decryptionKey="936257AF372CC5C22CA1583798C3EAE56BA920DBEB80974CED6EADFA348F5AB5" validation="SHA1" decryption="AES" />
    <membership defaultProvider="MultiTenantMembershipProvider">
      <providers>
        <clear />
        <add name="MultiTenantMembershipProvider" type="Lightweight.Business.Providers.Membership.MultiTenantMembershipProvider, Lightweight.Business" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="MultiTenantRoleProvider" enabled="true">
      <providers>
        <add name="MultiTenantRoleProvider" type="Lightweight.Business.Providers.Membership.MultiTenantRoleProvider, Lightweight.Business" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
</configuration>