<?xml version="1.0"?>
<configuration>
  <!-- CONFIG SECTIONS -->
  <configSections>
    <section name="cache-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business"/>
    <section name="portal-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business"/>
    <section name="navigation-providers" type="Lightweight.Business.Providers.ProviderConfiguration, Lightweight.Business"/>
  </configSections>
  <!-- CUSTOM PROVIDERS-->
  <cache-providers default="WebCacheProvider">
    <providers>
      <add name="WebCacheProvider" type="Lightweight.Business.Providers.Caching.WebCacheProvider, Lightweight.Business"/>
    </providers>
  </cache-providers>
  <portal-providers default="MultiTenantPortalProvider">
    <providers>
      <add name="MultiTenantPortalProvider" type="Lightweight.Business.Providers.Portal.MultiTenantPortalProvider, Lightweight.Business" caching="true"/>
    </providers>
  </portal-providers>
  <navigation-providers default="DefaultNavigationProvider">
    <providers>
      <add name="DefaultNavigationProvider" type="Lightweight.Business.Providers.Navigation.DatabaseNavigationProvider, Lightweight.Business"/>
    </providers>
  </navigation-providers>
  <!-- END CUSTOM PROVIDERS-->
  <!-- CONNECTION STRINGS -->
  <connectionStrings configSource="Web.connections.config"/>
  <!-- APPLICATION SETTINGS -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <!-- SYSTEM.WEB SETTINGS -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime/>
    <!-- CUSTOM ERRORS -->
    <customErrors mode="Off" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="Error/Error404"/>
      <error statusCode="500" redirect="Error/Error500"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.6"/>
    <!-- AUTHENTICATION: FORMS -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <!-- MEMBERSHIP PROVIDERS -->
    <machineKey validationKey="479D6995F64C6F15DA4D1E7D2D376C8A63C737BF2E51619E38038BB8ABB98D4C36898E008BDFAC3899BF51F36F9FEE92D1A318570493CE6D0150AC499C312F9A" decryptionKey="936257AF372CC5C22CA1583798C3EAE56BA920DBEB80974CED6EADFA348F5AB5" validation="SHA1" decryption="AES"/>
    <membership defaultProvider="MultiTenantMembershipProvider">
      <providers>
        <clear/>
        <add name="MultiTenantMembershipProvider" type="Lightweight.Business.Providers.Membership.MultiTenantMembershipProvider, Lightweight.Business" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MultiTenantRoleProvider" enabled="true">
      <providers>
        <add name="MultiTenantRoleProvider" type="Lightweight.Business.Providers.Membership.MultiTenantRoleProvider, Lightweight.Business" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<profile defaultProvider="MultiTenantProfileProvider" automaticSaveEnabled="false">
      <providers>
        <clear />
        <add name="MultiTenantProfileProvider" type="Lightweight.Business.Providers.Membership.MultiTenantProfileProvider, Lightweight.Business" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Email" />
        <add name="Address" />
        <add name="State" />
        <add name="City" />
        <add name="Zip" />
        <add name="Country" />
        <add name="Phone" />
        <add name="Mobile" />
        <add name="Photo" />
        <add name="Description" />
      </properties>
    </profile>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true">-->
    <modules>
      <!-- REMOVE WebDAV MODULE  -->
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
  <!-- RUNTIME SETTINGS-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>